[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bla = {editable = true,path = "."}

[dev-packages]
pyspark = "==3.1.1"
flake8 = "~=3.7"
pandas = "~=0.25"
pytest = "~=5.2"
pytest-cov = "~=2.7"
black = "==19.3b0"

[requires]
python_version = "3.6"
