[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
{{ cookiecutter.module_name }} = {editable = true,path = "."}
requests = "~=2.22"
boto3 = "~=1.11"

[dev-packages]
flake8 = "~=3.7"
pytest = "~=5.2"
pytest-cov = "~=2.7"
black = "==19.3b0"

[requires]
python_version = "3.7"
